
{{> head}}
    {{> navbar}}
    <div class="row">
        <div class="col-8">
        <h1>Batman</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veniam necessitatibus corporis quibusdam, molestias dolorum illo cumque magni quos laudantium fuga aspernatur at, quaerat possimus saepe explicabo corrupti aut expedita.
        </p>
        </div>
        <div class="col-4">
            <img src="assets/img/batman.jpg" class="img-thubnail" alt="">
        </div>
        </div>
{{> footer}}